{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" type="text/css" href="{% static 'si/style.css' %}">

    <title>{% block title %}Главная - Список рекрутов{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}Список рекрутов{% endblock %}</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'add' %}">Добавить</a>
        {% for planet in planets %}
        <a href="{% url 'by_planet' planet.pk %}">{{ planet.name }}</a>
        {% endfor %}
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>

{
  "access_token": "6d46125e004336860043365600000009000003f3c7a88bed6f39b69c3724fdb0005276",
  "client_endpoint": "https://telebot.bitrix24.ru/rest/",
  "domain": "telebot.bitrix24.ru",
  "expires": 1578255981,
  "expires_in": 3600,
  "member_id": "9c3d69f3a517c02b62fe8efa97972add",
  "refresh_token": "5dc5395e004336860043365600000009000003ecc3b2a87b74571966b3fd5e7d0f6b3a",
  "scope": "app",
  "server_endpoint": "https://oauth.bitrix.info/rest/",
  "status": "L",
  "user_id": 9
}