{% extends 'bitr24/base_bitr24.html' %}

{% block title %}
    Создание пользов. Bx24 - {{ block.super }}
{% endblock %}


{% block content %}


    <form action="{% url 'bitr_create_url' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Создать польз. Bx24</button>
    </form>
    
    
    
{% endblock %}

