<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Title</title>
</head>
<body>
---------------- GET -------------------------
<input type="hidden" name="form-TOTAL_FORMS" value="3" id="id_form-TOTAL_FORMS"><input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS"><input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS"><input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">
<tr>
    <th><label for="id_form-0-q_0">QКайло Рен (Бен Соло) перешёл на Тёмную сторону Силы?</label></th>
    <td><ul id="id_form-0-q">
        <li>
            <label for="id_form-0-q_0"><input type="radio" name="form-0-q" value="True" id="id_form-0-q_0">
                Да
            </label>
        </li>
        <li>
            <label for="id_form-0-q_1"><input type="radio" name="form-0-q" value="False" id="id_form-0-q_1">
                Нет
            </label>
        </li>
        <li>
            <label for="id_form-0-q_2"><input type="radio" name="form-0-q" value="3" id="id_form-0-q_2">
                ответ 3
            </label>
        </li>
        <li>
            <label for="id_form-0-q_3"><input type="radio" name="form-0-q" value="3" id="id_form-0-q_3">
                ответ 4
            </label>
        </li>
    </ul></td>
</tr>
<tr>
    <th><label for="id_form-1-q_0">QДарт Вейдер — отец Люка Скайуокера?</label></th><td><ul id="id_form-1-q">
    <li>
        <label for="id_form-1-q_0"><input type="radio" name="form-1-q" value="True" id="id_form-1-q_0">
            Да
        </label>
    </li>
    <li>
        <label for="id_form-1-q_1"><input type="radio" name="form-1-q" value="False" id="id_form-1-q_1">
            Нет
        </label>
    </li>
    <li>
        <label for="id_form-1-q_2"><input type="radio" name="form-1-q" value="3" id="id_form-1-q_2">
            ответ 3
        </label>
    </li>
    <li>
        <label for="id_form-1-q_3"><input type="radio" name="form-1-q" value="3" id="id_form-1-q_3">
            ответ 4
        </label>
    </li>
</ul></td>
</tr>
<tr>
    <th><label for="id_form-2-q_0">QR2-D2 робот-пылесос?</label></th><td><ul id="id_form-2-q">
    <li>
        <label for="id_form-2-q_0"><input type="radio" name="form-2-q" value="True" id="id_form-2-q_0">
            Да
        </label>
    </li>
    <li>
        <label for="id_form-2-q_1"><input type="radio" name="form-2-q" value="False" id="id_form-2-q_1">
            Нет
        </label>
    </li>
    <li>
        <label for="id_form-2-q_2"><input type="radio" name="form-2-q" value="3" id="id_form-2-q_2">
            ответ 3
        </label>
    </li>
    <li>
        <label for="id_form-2-q_3"><input type="radio" name="form-2-q" value="3" id="id_form-2-q_3">
            ответ 4
        </label>
    </li>
</ul>
</td>
</tr>

===================== POST =====================
<input type="hidden" name="form-TOTAL_FORMS" value="5" id="id_form-TOTAL_FORMS"><input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS"><input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS"><input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">
<tr><th><label for="id_form-0-q">Q:</label></th>
    <td>
        <select name="form-0-q" id="id_form-0-q">
            <option value="unknown">Неизвестно</option>

            <option value="true" selected>Да</option>

            <option value="false">Нет</option>

        </select>
    </td>
</tr> <tr><th><label for="id_form-1-q">Q:</label></th>
    <td>
        <select name="form-1-q" id="id_form-1-q">
            <option value="unknown">Неизвестно</option>

            <option value="true" selected>Да</option>

            <option value="false">Нет</option>

        </select>
    </td>
</tr> <tr><th><label for="id_form-2-q">Q:</label></th>
    <td>
        <select name="form-2-q" id="id_form-2-q">
            <option value="unknown">Неизвестно</option>

            <option value="true" selected>Да</option>

            <option value="false">Нет</option>

        </select>
    </td>
</tr> <tr><th><label for="id_form-3-q">Q:</label></th>
    <td>
        <select name="form-3-q" id="id_form-3-q">
            <option value="unknown">Неизвестно</option>

            <option value="true">Да</option>

            <option value="false" selected>Нет</option>

        </select>
    </td>
</tr> <tr><th><label for="id_form-4-q">Q:</label></th>
    <td>
        <select name="form-4-q" id="id_form-4-q">
            <option value="unknown" selected>Неизвестно</option>

            <option value="true">Да</option>

            <option value="false">Нет</option>

        </select>
    </td>
</tr>

</body>
</html>