{% extends 'si/base_si.html' %}


{% block title %}
    Выбор рекрута или ситха  - {{ block.super }}
{% endblock %}


{% block content %}

    <h3 class="mb-4">Выберите:</h3>
    <a href="{% url 'recruit_create_url' %}" type="button" class="btn btn-outline-secondary">Рекрут</a>
    <img src='/static/si/Yoda.png' class="img-fluid">
{#    {% if request.user.is_authenticated and request.user.is_staff %}#}
        <a href="{% url 'siths_list_url' %}" type="button" class="btn btn-outline-secondary"> &nbsp; Ситх &nbsp;</a>
{#    {% else %}#}
{#        <a href="{% url 'sith_authorization_url' %}" type="button" class="btn btn-outline-secondary"> &nbsp; Ситх &nbsp;</a>#}
{#    {% endif %}#}


{% endblock %}


{#-------------------------------#}
{#        <a href="{% url 'siths_count_hands_url' count_hands=0 %}" type="button" class="btn btn-outline-secondary"> &nbsp; Ситх &nbsp;</a>#}
{#{% block admin-panel %}#}
{#    <a href="{% url 'siths_list_url' %}" class="btn btn-outline-info">Вы не вошли под ситхом</a>#}
{#{% endblock %}#}


{#    <a href="{% url 'siths_list_url' %}" class="btn btn-primary btn-lg btn-outline-primary" data-toggle="button" tabindex="-1" role="button">Рекруты</a>#}
{#    <a href="{% url 'siths_list_url' %}" class="btn btn-primary btn-lg btn-outline-secondary" tabindex="-1" role="button" aria-disabled="False">Ситхи</a>#}

{#    <a href="siths_list.html" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Ситхи</a>#}

{#    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">#}
{#        Single toggle#}
{#    </button>#}


