{% extends 'si/base_si.html' %}

{% block title %}
    Список Рекрутов по Ордену: - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between">
        <h4 class="mb-4">Рекруты (кол-во: {{ recruits|length }}) ордена:</h4>
        <div>
            {%  if order == 'не принятые' %}
                <h4 class="btn btn-outline-info"> {{ order }} </h4>
            {% else %}
                <h4><b> {{ order }}  </b></h4>
            {% endif %}
        </div>
    </div>

    {% for recruit in recruits %}
        {% include 'si/includes/recruit_card_template.html' %}
    {% endfor %}

{% endblock %}


{#                <h4> --- </h4>#}
{#                <h4> {{ order }} </h4>#}
{#                <h1 class="badge badge-info"> {{ order }} </h1>#}

