{% extends 'si/base_si.html' %}

{% block title %}
    {{ recruit.name }} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="card mb-2">
        <div class="card-body">
            <h6 class="card-title">Возраст: <b>{{ recruit.age }}</b></h6>
            <h6 class="card-title">Емаил: <b>{{ recruit.email }}</b></h6>

            <div class="alert alert-info" role="alert">
                Ваши данные и ответы приняты, ждите оповещение результатов по e-mail.
            </div>

        </div>
    </div>

{% endblock %}


