{% extends 'si/base_si.html' %}


{% block title %} Вопрпосы для рекрута "{{ recruit.name }}" : {% endblock %}


{% block content %}
    <h4 class="mb-4">Вопросы для рекрута "{{ recruit.name }}" :</h4>

    <form action="{{ recruit.get_questions_url }}" method="post">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        {{ form }}
        <hr>
        <div>
            <input type="submit" value="Сохранить">
        </div>
    </form>
{% endblock %}


{% block content2 %}
    <h4 class="mb-4">Вопросы для рекрута "{{ recruit.name }}" :</h4>
    <hr>

    <form action="{{ recruit.get_questions_url }}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for field in formset %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
{#                <div class="alert alert-secondary" role="alert">#}
{#                    {{ field.label }}#}
{#                </div>#}
                <div class="alert alert-info" role="alert">
                    {{  questions.pop }}
                </div>
                 {{ field }}
            </div>
        {% endfor %}
        <div>
            <button type="submit" class="btn btn-primary">Ответить</button>
        </div>
    </form>

{% endblock %}

{#    <h1 class="form-header">Насколько вероятно Вы порекомендуете инструмент </h1>#}
{#    <div class="rating-wrapper">#}
{#        {% for radio in form.rate %}#}
{#            <label for="{{ radio.id_for_label }}" class="rating-wrapper">#}
{#                {{ radio.choice_label }}#}
{#                {{ radio.tag }}#}
{#                <span class="radio-checkmark"></span>#}
{#            </label>#}
{#        {% endfor %}#}
{#    </div>#}


{#    {% for sith in page_object.object_list %}#}
{#        <div class="card mb-1">#}
{#            <div class="card-header">#}
{#                <i>Орден: </i>{{ sith.order.name }}#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <h5 class="card-title">{{ sith.name }}</h5>#}
{#                <p class="card-text"> <i>Его Руки Тени:</i> {{ sith.get_recruits|truncatewords:6 }}</p>#}
{#                <a href="#" class="btn btn-primary">Посмотреть</a>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
