{% extends 'si/base_si.html' %}

{% block title %}
    Список рекрутов: - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between">
        <h4 class="mt-2">
            Рекруты (кол-во: {{ recruits|length }}):
        </h4>
        <div>
            <a href="{% url 'recruits_order_url' slug='None' %}" class="btn btn-outline-info">Посмотреть свободных Рекрутов</a>
        </div>
    </div>

    {% for recruit in recruits %}
        {% include 'si/includes/recruit_card_template.html' %}
    {% endfor %}

{% endblock %}


{#            <a href="{{ sith.get_absolute_url }}" class="btn btn-primary">Посмотреть Рекрутов</a>#}
{#    <h4 class="mb-4">Рекруты (кол-во: {{ recruits|length }}):</h4>#}
{#    {% for sith in page_object.object_list %}#}

