{% extends 'si/base_si.html' %}

{% block title %}
    Список ситхов по планетам: - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between">
        <h4 class="mb-4">Ситхи (кол-во: {{ siths|length }}) на планете:</h4>
        <div>
{#            <a href="{{ sith.get_planet_url }}" class="btn btn-outline-secondary">Посмотреть по Планетам</a>#}
            <h4><b> {{ planet }} </b></h4>

        </div>
    </div>

    {% for sith in siths %}
        {% include 'si/includes/sith_card_template.html' %}
    {% endfor %}

{% endblock %}


{#    {% for sith in page_object.object_list %}#}
{#        <div class="form-group text-right">#}
{#    <h4 class="mb-4">Ситхи:#}
{#        <a href="{%  url 'siths_count_hands_url' count=0 %}" class="btn btn-outline-secondary">Посмотреть по кол-ву рук Тени</a>#}
{#    </h4>#}
