{% extends 'si/base_si.html' %}

{% block title %}
    Список ситхов по планетам: - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between">
        <h4 class="mb-4">Ситхи по планетам:</h4>
        <div>
            <a href="{%  url 'siths_planet_url' slug='korusant-1586894870' %}" class="btn btn-outline-secondary">Посмотреть по Планетам</a>
        </div>
    </div>

    {% for sith in siths %}
        {% include 'si/includes/sith_card_template.html' %}
    {% endfor %}

{% endblock %}


{#    {% for sith in page_object.object_list %}#}
{#        <div class="form-group text-right">#}
{#    <h4 class="mb-4">Ситхи:#}
{#        <a href="{%  url 'siths_count_hands_url' count=0 %}" class="btn btn-outline-secondary">Посмотреть по кол-ву рук Тени</a>#}
{#    </h4>#}
