{% extends 'si/base_si.html' %}

{% block title %}
    Список ситхов: - {{ block.super }}
{% endblock %}

{% block content %}
    <h4 class="mb-4">Ситхи:

        <div class="form-group text-right">
{#            <button type="button" class="btn btn-outline-info" value="">Submit</button>#}
            <a href="{%  url 'siths_count_hands_url' count=0 %}" class="btn btn-outline-secondary">Посмотреть по кол-ву рук Тени</a>

        </div>
    </h4>

    {#    {% for sith in page_object.object_list %}#}
    {% for sith in siths %}
        <div class="card mb-2">
            <div class="card-header">
                <i>Планета:</i> <b>{{ sith.planet }}</b>.  <i>Орден: </i><b>{{ sith.order.name }}</b>
            </div>
            <div class="card-body">
                <h5 class="card-title"><b>{{ sith.name }}</b></h5>
                <p class="card-text"> <i>Его Руки Тени (кол-во: <b>{{ sith.get_count_hands }}</b> ):</i>
                    <b>{{ sith.get_recruits|truncatewords:6 }}</b>
                </p>
                <a href="{{ sith.get_absolute_url }}" class="btn btn-primary">Посмотреть</a>
{#                <a href="{%  url 'sith_detail_url' slug=sith.slug %}" class="btn btn-primary">Посмотреть</a>#}
            </div>
        </div>
    {% endfor %}

{% endblock %}
